@model IEnumerable<CupcakeMVC.Models.UserComment>
@{
    ViewData["Title"] = "Cupcake";
}
    <link rel="stylesheet" type="text/css" href="~/css/home.css">
    <meta content="text/html" ;charset="UTF-8">

    <div id="page"></div>
